<div class="container-fluid text-center" >
  <% if !current_user %>
    <section id='oauth'>
      <%= link_to "Login with Google", google_oauth2_path, :class => "button btn btn-primary" %>
      </br> <h3>Or</h3></br>
      <section id='default-login'>
        <%= link_to "Log In", '/login' %>
      </section>
      <section id='registration'>
        <%= link_to "Create Profile", '/registration' %>
      </section>
    </section>
  <% else %>

    <%= form_tag "/", method: :get do %>

    <%= label_tag :region %>
    <%= select_tag(:region, options_for_select(['Front Range', 'South Park', 'Central Colorado', 'Southwest Colorado', 'South Central Colorado', 'Grand Mesa', 'North Park', 'Northwest Colorado'])) %>

    <%= submit_tag "Filter By Region" %>
    <% end %>

    <% @posts.each do |post| %>
      <% if post.privacy == "Public" %>
      <div class="card-columns">
        <% if !post.fish.empty? %>
          <%= image_tag(post.fish.find_photo, alt: "Avatar", style: "width: 500px; height: auto;") %>
        <% end %>
        <div class="container">
          <h4><b><%= post.title %></b></h4>
       <p><%= post.region %>
          <%= post.city %>
          <%= post.state %></br>
          <%= post.body_of_water %></br>
          <% if post.fly_or_conventional == 'Fly' %>
              Fly</br></br>
          <% elsif post.fly_or_conventional == 'Conventional' %>
              Conventional</br></br>
          <% end %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
