<div class="container-fluid text-center" >
  <h1>Create Post</h1>
  <%= form_with(model: @catch, url: '/catch', method: :post) do |f| %>
    <%= f.label :title %></br>
    <%= f.text_field :title, class: "block col-4 field" %></br>
    <%= f.label :description %></br>
    <%= f.text_field :description, class: "block col-4 field" %></br>
    <%= f.label :city %></br>
    <%= f.text_field :city, class: "block col-4 field" %></br>
    <%= f.label :state %></br>
    <%= f.text_field :state, class: "block col-4 field" %></br>
    <%= f.label :body_of_water %></br>
    <%= f.text_field :body_of_water, class: "block col-4 field" %></br>
    <%= f.label :region %></br>
    <%= f.text_field :region, class: "block col-4 field" %></br>
    <%= f.label :privacy %></br>
    <%= f.text_field :privacy, class: "block col-4 field" %></br>
    <%= f.label :fly_or_conventional %></br>
    <%= f.text_field :fly_or_conventional, class: "block col-4 field" %></br>
    <%= f.submit 'Record New Catch', class: "mt2 btn btn-primary mb1 bg-teal" %>
  <% end %>
</div>
