  <%= current_user.name %>
  <%= "Location: #{current_user.city}, #{current_user.state}" %>
  </br>

  <% @posts.each do |post| %>
  <section id='post'>
    <% if !post.fish.empty? %>
      <%= image_tag(post.fish.find_photo, alt: "Avatar", style: "width: 500px; height: auto;") %>
    <% end %>
    <%= post.title %>
    <%= post.body_of_water %>
    <%= post.region %>
    <%= post.state %>
    <%= post.fly_or_conventional %>
  </section>
  <% end %>
