<!DOCTYPE html>
<html>
  <head>
    <title>FishMaps</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="container-fluid text-center" >
      <ul class = "topnav">
        <li class="center">FishMaps</li>
        <% if current_user %>
          <li class="right"><%= link_to "Logout", '/logout' %></li>
          <li class="right"><%= link_to "Profile", '/profile' %></li>
          <li class="right"><%= link_to 'New Catch', '/catch' %></li>
          <li class="right"><%= link_to 'Home', '/' %></li>
        <% end %>
      </ul>

  <% flash.each do |name, msg| %>
   <div class= "<%=name%>-flash">
     <p><%= msg %></p>
   </div>
 <% end %>

      <div class="navbar fixed-bottom">
            Report Your Catch for Local Fishing Conservation Efforts
      </div>
    </div>
    <%= yield %>
  </body>
</html>
